/*universal selector styling for the whole document.*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*The body of the whole website which would be as generic as it gets in css.*/
body {
    background-color: #d9dcd6;
}

/*Styling for the navigation bar at the top of the webpage.*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Syling for the main header of the website 'Horiseon'.*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Styling for a specific set of words in the actual main header using span in html.*/
header h1 .seo {
    color: #d9dcd6;
}

/*Styling for the class named header but more specifically the div thats already
inside another div that has a class named header.*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*The styling digs deeper and goes within the unnordered list thats inside the div that
is inside another div with a class named header.*/
header nav ul {
    list-style-type: none;
}

/*Styling gets even more specific and focuses on the list items inside the unordered
list*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*This styles the text of the links in the nav bar*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*determines the font size for the text inside the blocks on the left side of the page*/
p {
    font-size: 16px;
}

/*styling for the image directly underneath the navigation bar, image inserted through
css*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*styles the width of the blocks on the left side*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*make the image inside the block go to the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*makes the image inside the block go to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*styles the content of each block on the left side of the page */
.search-engine-optimization,.online-reputation-management, .social-media-marketing  {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*determines the height of the images inside the blocks on the left side*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/*styles the headers inside the blocks on the left side*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*styling for the text and positioning inside the side bar on the right*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*separates the different sections inside the sidebar*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*makes the header in each section have a margin and spread it out*/
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
 /*styles the image inside each section*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*styles the footer at the bottom of the page and the text within it*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
 /*specifically styles the heder insifee the footer*/
.footer h2 {
    font-size: 20px;
}
